@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --a: 0;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.container {
  height: 100vh;
}
.left {
  width: 25vw;
}
.right {
  width: 75vw;
  position: relative; /*for positioning playbar*/
}
.body {
  background-color: black;
  color: white;
}

.home ul li {
  list-style: none;
  width: 14px;
  display: flex;
  gap: 14px;
  padding-top: 14px;
  font-weight: 700;
}

.heading {
  display: flex;
  padding-top: 14px;
  padding: 14px 14px;
  font-size: 13px;
  font-weight: bold;
  gap: 15px;
  align-items: center;
}
.heading img {
  width: 30px;
}
.library {
  min-height: 82vh;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34 34 34);
  align-items: center;
}
.footer {
  display: flex;
  font-size: 10px;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.footer a {
  color: grey;
  text-decoration: none;
}
.close1 {
  position: absolute;
  right: 34px;
  top: 21px;
  cursor: pointer;
}
.close1:hover {
  height: 27px;
  width: 27px;
}
.hamberger {
  display: none;
}
.hambergerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.header > * {
  padding: 15px;
}
.spotifyPlaylists {
  padding: 16px;
}
.spotifyPlaylists h1 {
  padding: 16px;
}
.cardContainer {
  display: flex;
  margin: 25px;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 67vh;
}
.card {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(29, 28, 28);
  position: relative;
  transition: all 0.5s;
}
.card:hover {
  background-color: rgb(10, 34, 3);
  cursor: pointer;
  --a: 1;
}
.card > * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
}
.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 125px;
  right: 17px;
  opacity: var(--a);
  transition: all 1 ease-out;
}
.buttons > * {
  margin: 0 2px;
}
.signupbtn {
  background-color: rgb(34 34 34);
  font-weight: bold;
  color: rgb(182, 178, 178);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.signupbtn:hover {
  font-size: 17px;
  color: white;
}
.loginbtn {
  border-radius: 21px;
  color: black;
  background-color: white;
  /* font-weight: bold; */
  width: 79px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.loginbtn:hover {
  font-weight: bold;
  width: 80px;
  font-size: 17px;
}

.playbar {
  position: absolute;
  bottom: 0;
  background-color: rgb(42, 40, 40);
  width: 94%;
  padding: 15px;
  border-radius: 30px;
  min-height: 40px;
}
.songbuttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  filter: invert(1);
}
.songList {
  height: 364px;
  overflow: auto;
}
.songList ul {
  padding: 0 12px;
}
.songList ul li {
  list-style-type: decimal;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 12px;
  padding: 13px;
  border-radius: 5px;
}
.songList .info {
  font-size: 13px;
  width: 344px;
}
.playnow {
  display: flex;
  align-items: center;
}

.playnow span {
  font-size: 10px;
  width: 45px;
}
.seekbar {
  height: 4px;
  width: 100%;
  border: 1px solid white;
  margin-bottom: 2px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.circle {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: rgb(250, 246, 243);
  position: absolute;
  top: -4px;
  left: 0px;
  cursor: pointer;
  transition: left 0.5s;
}
.info div {
  word-wrap: break-all;
}
.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.songtime {
  width: 125px;

  padding: 0 12px;
}
.songinfo {
  padding: 0 12px;
  margin-top: 6px;
  width: 250px;
}
.abovebar {
  display: flex;
  justify-content: space-between;
}
.range input {
  cursor: pointer;
}
@media (max-width: 700px) {
  .left {
    background-color: rgb(4, 4, 4);
    position: absolute;
    left: -100%;
    transition: all 0.3s;
    z-index: 1;
    width: 370px;
  }
  .songinfo,
  .songtime {
    width: auto;
  }
  .right {
    width: 100vw;
    margin: 0;
  }
  .playbar {
    width: 88vw;
  }
  .seekbar {
    width: calc(100vw-70px);
  }
  .hamberger {
    display: block;
  }
  .card {
    width: 90vw;
  }

  .cardContainer {
    margin: 0;
    justify-content: center;
  }
  .abovebar {
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }
  .timevol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }
}
